.aboutUs {
    display: flex;
    justify-content: space-between;
    padding: 10rem 4rem;
}
.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    text-align: left;
    gap: 2rem;
}

.text {
    line-height: 4rem;
}

.aboutText h1 {
    font-size: 6rem;
    border-bottom: 1rem solid #F2C94C;
    padding-bottom: 3rem;
}

.aboutText p {
    font-size: 2.5rem;
    margin-top: 4rem;
}

.btn button {
    margin-top: 5rem;
    width: 10rem;
    height: 5rem;
    border: 0.2rem solid #F2C94C;
    border-radius: 0.5rem;
    background-color: #000;
    color: #F2C94C;
    cursor: pointer;
    transition: 0.5s;
}

.btn button:hover {
    background-color: #F2C94C;
    color: #000;
    transition: 0.5s;
}
